@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
}

body {
  display: grid;
  place-items: center;
  @apply bg-slate-800;
}