@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  width: 100vw;
}

body {
  display: grid;
  place-items: center;
  @apply bg-slate-800;
}

.h-90-dvh {
  height: 90vh;
  height: 90dvh;
}
.h-10-dvh {
  height: 10vh;
  height: 10dvh;
}